<template name="tweetsItem">
	<div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s1">
            <img src="{{picture}}" alt="" class="circle responsive-img">
          </div>
          <div class="col s10">
            <span class="black-text">
              <p>{{tweet}}</p>
              <a href="https://www.twitter.com/{{userscreen}}" target="_blank">{{user}}</a> 
 			  {{date}}
            </span>
          </div>
          <div class="col s1">
            <a href="{{pathFor 'tweetsPage'}}" class="waves-effect waves-light btn"><i class="mdi-action-input"></i></a>
          </div>
        </div>
      </div>
    </div>
</template>