<template name="tweetsPage">
	<div class="fixed-action-btn" style="top: 20px; right: 24px;">
		<a title="Messages Central" class="btn-floating btn-large waves-effect waves-light" href="{{pathFor 'tweetsList'}}"><i class="mdi-navigation-arrow-back"></i></a>
	</div>

	<div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="{{picture}}" alt="" class="circle responsive-img">
          </div>
          <div class="col s10">
            <span class="black-text">
              <p>{{tweet}}</p>
              <a href="https://www.twitter.com/{{userscreen}}" target="_blank">{{user}}</a> 
 			  {{date}}
            </span>
          </div>
        </div>
      </div>
    </div>
</template>